In [14]:
#1-Write a program that takes an integer as input and prints whether it's positive, negative, or zero
x=int(input("enter a no:"))
if(x>0):
    print("The number is positive")
elif(x<0):
    print("The number is negative")
else:
    print("The number is zero")

enter a no:4
The number is positive

In [23]:
"""2-Create a program that takes a student's score as input and prints their corresponding grade based on the following scale:

3. 90 or above: A

4. 80-89: B

5. 70-79: C

6. 60-69: D

7. Below 60: F"""

score=int(input("enter the score:"))
if(score>=90):
    print("The grade is A ")
elif(score>=80 and score<90):
         print("The grade is B ")
elif(score>=70 and score<80):
    print("The score is C")
elif(score>=60 and score<70):
        print("The grade is D ")
else:
    print("failed")

enter the score:79
The score is C

In [6]:
#3-Create a program that takes a person's age as input and prints whether they are a child (0-12), 
#teenager (13-19), adult (20-59), or senior (60 and above).

age=int(input("enter person age:"))
if(age>0 and age<13):
    print("The person is a child  ")
elif(age>12 and age<20):
         print("The person is teenager ")
elif(age>19 and age<60):
    print("The person is adult")
else:
    print("senior citizen")

enter person age:60
senior citizen

In [18]:
#4-Write a program that takes three integers as input and prints the largest number among them.
a = int(input("enter 1st number:"))
b = int(input("enter 2nd number :"))
c = int(input("enter 3rd number:"))
if(a>b and a>c):
    print("a is largest no")
elif(b>c):
    print("b is largest no")
else:
    print("c is largest no")

enter 1st number:4
enter 2nd number :3
enter 3rd number:2
a is largest no

In [36]:
#5-Create a program that takes three sides of a triangle as input and determines if it's a valid triangle
#(sum of any two sides is greater than the third). Print "Valid" or "Invalid" accordingly.

side1=int(input("enter 1st side of triangle"))
side2=int(input("enter 2nd side of triangle"))
side3=int(input("enter 3rd side of triangle"))

x=int(side1+side2)
y=int(side2+side3)
z=int(side1+side3)

if(x>side3 or y>side1 or z>side2):
    print("Its a valid triangle")
else:
    print("Its an invalid triangle")

enter 1st side of triangle2
enter 2nd side of triangle3
enter 3rd side of triangle4
Its a valid triangle

In [6]:
#6-Write a program that takes the time in 24-hour format (e.g., 14:30) as input and converts it to 12-hour format
#(e.g., 2:30 PM) and prints the result.

time=input("Enter time in hh:mm format: ")
s=time.split(":")
print("The entered time is ",s)
hh=int(s[0])
mm=int(s[1])

if(hh<1 or hh>24) or (mm<0 or mm>60):
    print("invalid time")
else:
    print("Time entered in 12hrs format already",hh,":",mm)
    if(hh>12):
        hh=hh-12
        print("Time after conversion to 12hrs is ",hh,":",mm)

Enter time in hh:mm format: 13:15
The entered time is  ['13', '15']
Time entered in 12hrs format already 13 : 15
Time after conversion to 12hrs is  1 : 15

In [25]:
#7-Write a program that takes a character as input and determines if it's a vowel, consonant, or neither.
#Print the appropriate message.

let=input("Enter a letter ")

if(let =="a" or let == "e" or let =="i" or let =="o" or let=="u" or let == "A" or let =="E" or
   let =="I" or let=="O" or let=="U"):
    print("Letter is a vowel")
else:
        print("Letter is consonaant")

Enter a letter a
Letter is a vowel

# list

In [27]:
#1-Find the sum of elements in a list.

my_list=[1,2,3,4,5,2,3,1]
print(sum(my_list))

21

In [29]:
#2-Create a list of characters. Write a program to reverse the order of the elements in the list without using built-in functions.
#Use indexing method.

mylist=["a","b","c","d","e"]
print(mylist[::-1])

['e', 'd', 'c', 'b', 'a']

In [36]:
#3-Remove empty strings from the list of strings without using any loops

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in list1:
    if "" in list1:
        list1.remove("")
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [31]:
#4-Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list2=list1[2][2]
print(list2)
list2.append(7000)
print(list2)
print(list1)

[5000, 6000]
[5000, 6000, 7000]
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [21]:
#5-You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200.
#Only update the first occurrence of an item.

#Expected output:

#[5, 10, 15, 200, 25, 50, 20]

list1 = [5, 10, 15, 20, 25, 50, 20]
if 20 in list1:
    index = list1.index(20)
    print(index)
    list1[index] = 200
print(list1)

3
[5, 10, 15, 200, 25, 50, 20]

In [43]:
#6-Create a list of numbers. Write a program to find the range 
#(difference between the largest and smallest element) of the list.
list1=[2,3,4,6,8,15,5]
list1.sort()
print(list1)
z=list1[-1]-list1[0]
print(z)

[2, 3, 4, 5, 6, 8, 15]
13

In [54]:
#7-Create a list of random numbers. Write a program to count how many times each element appears in the list.
#1-3,2-2,3-2,4-3,5-1,7-1
list1 = [1, 2, 3, 1, 4, 2, 4, 3, 5, 4, 7, 1]
counts = {}
for num in set(list1):  # Using set() to get unique elements
    count = list1.count(num)
    counts[num] = count

# Print the counts
print("\nTimes each element appears:")
for i, count in counts.items():
    print(f"{i}: {count}")

Times each element appears:
1: 3
2: 2
3: 2
4: 3
5: 1
7: 1

In [71]:
#### -Create a list of numbers. Write a program to insert a new element at a specific position in the list.
list1 = [1, 2, 3, 1, 4, 2, 4, 3, 5, 4, 6, 1]
n=int(input("Enter the position="))
x=int(input("Enter new element="))
if(n<=len(list1)):
    list1[n]=x
    print(list1)
else:
    print("out of range")

Enter the position=4
Enter new element=1
[1, 2, 3, 1, 1, 2, 4, 3, 5, 4, 6, 1]

# tuple

In [35]:
#1-Write a Python program to find the maximum and minimum values in a tuple of integers.
x = (5,4,6,1,2,7,4,3)
m1=max(x)
m2=min(x)
print(m1,"is maximum vlue\n",m2,"is minimum value")

7 is maximum vlue
 1 is minimum value

In [58]:
#2-Write a Python program to count the number of occurrences of an element in a tuple.
x = (5,4,6,1,2,4,3,1,2,1,2)
z=list(x)

counts={}
for num in z: 
    count = z.count(num)
    counts[num] = count

# Print the counts
print("\nTimes each element appears:")
for i, count in counts.items():
    print(f"{i}: {count}")

Times each element appears:
5: 1
4: 2
6: 1
1: 3
2: 3
3: 1

In [68]:
#3-Write a Python program to convert a list of tuples into a dictionary
x = ((1, 'one'), (2, 'two'), (3, 'three'),(4, 'four'),(5, 'five'))
x_dict = dict(x)
print(x_dict)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [12]:
#4=Write a Python program to slice a tuple into multiple sub-tuples based on a given size
x = (1,2,3,4,5,6,7,33,45,56,7,9,0,2,5,6,4,7,1,2,3)
n=int(input("Enter the subtuple size"))
for i in range(0,len(x),n):
    result = tuple(x[i:i+n])
    print(result)

Enter the subtuple size4
(1, 2, 3, 4)
(5, 6, 7, 33)
(45, 56, 7, 9)
(0, 2, 5, 6)
(4, 7, 1, 2)
(3,)

In [22]:
#5-Write a Python program to create a nested tuple and access an element from it.

x = tuple((1,2,3,4,5,6,(7,33,(45,56,7),9,0,2),5,6,4,7,1,2,3))
print(x)
print(x[6][2])
print(x[6][2][2])
print(x[6][3])

(1, 2, 3, 4, 5, 6, (7, 33, (45, 56, 7), 9, 0, 2), 5, 6, 4, 7, 1, 2, 3)
(45, 56, 7)
7
9

In [30]:
#6-Write a Python program to remove an element from a tuple.
x = (1,2,3,4,5,6,7,33,45,56)
w=list(x)
w.remove(1)
x=tuple(w)
print(w)

[2, 3, 4, 5, 6, 7, 33, 45, 56]

In [33]:
#7=Write a Python program to merge two tuples and remove the duplicate elements.

x =  ("apple", "banana", "cherry", "strawberry", "raspberry")
y =  ("kiwi","orange","apple", "banana", "cherry")
z=x+y 
result=tuple(set(z))
print(result)

('raspberry', 'kiwi', 'orange', 'strawberry', 'banana', 'cherry', 'apple')

In [34]:
#8-Write a Python program to create a tuple with a variable length and unpack it into multiple variables.

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [57]:
#9-Write a Python program to find the index of the first occurrence of an element in a tuple.
num = (1,2,3,4,5,6,7,33,45,56,2,6 ,2,4,5,3,53,1)

n = int(input("Enter a element from given tuple "))
for i in num:
    if i==n:
        z=num.index(i)
print("index of given element is",z)

Enter a element from given tuple 6
index of given element is 5

# set

In [8]:
#1. Write a Python program to check if two sets have any common elements.

set1 = {"apple", "orange","mango"}
set2 = {"kiwi", "mango","orange"}
if set1.intersection(set2):
    print("The two sets have common element.",set1.intersection(set2))
else:
    print("The two sets do not have common elements.")

The two sets have common element. {'orange', 'mango'}

In [10]:
#2. Write a Python program to find the difference between two sets.

set1 = {"apple", "orange","mango"}
set2 = {"kiwi", "mango",}
set1.difference(set2)

{'apple', 'orange'}

In [11]:
#3. Write a Python program to find the symmetric difference between two sets.
#5. Write a Python program to create a new set with all the elements from two sets, but exclude the common ones
#remove same item
set1 = {"apple", "orange","mango"}
set2 = {"kiwi", "mango"}
set1.symmetric_difference(set2)

{'apple', 'kiwi', 'orange'}

In [14]:
#4. Write a Python program to create a set from a given list and remove the duplicates

fruits = ["apple", "orange","mango","apple","mango"]
set1=set(fruits)
print(set1)

{'orange', 'apple', 'mango'}

In [26]:
#5. Write a Python program to check if a set is a subset of another set.

set1 = {"apple", "orange","mango","kiwi"}
set2 = {"kiwi", "mango"}
set2.issubset(set1)

True

In [28]:
#7. Write a Python program to find the maximum and minimum values in a set

set1={2,3,5,6,7,86,5,44}
print(max(set1))
print(min(set1))

86
2

In [31]:
#8. Write a Python program to remove all the elements from a set.
set1 = {"apple", "orange","mango","kiwi"}
set1.clear()
print(set1)

set()

In [32]:
#8. Write a Python program to remove all the elements from a set.
set1 = {"apple", "orange","mango","kiwi"}
del set1
print(set1)

NameError: name 'set1' is not defined

In [34]:
#9. Write a Python program to update a set with the union of itself and another set
set1 = {"apple", "orange","mango","banana"}
set2 = {"kiwi", "mango"}
set1.union(set2)

{'apple', 'banana', 'kiwi', 'mango', 'orange'}

In [37]:
#10. Write a Python program to find the sum of all the elements in a set.
sum = 0
set1={2,3,5,6,7,8,5,4}
for i in set1:
    sum=sum + i
print(sum)

35

# Python Dictionary

In [44]:
#1. Write a Python script to sort (ascending and descending) a dictionary by value.

prices = {"bread": 3.5,"jam" : 1.5 ,"apple": 1.0}
for  in sorted(prices.values()):
    print(k,"-", prices[k])

KeyError: 1.0

# for loop aaignmt

In [8]:
#1. Write a Python program to find all pairs of integers in a given array whose sum is equal to a given number.
lis = [2, 4, 5, 7, 8, 9, 12, 14, 16, 9]
num = int(input("Enter a number: "))
pairs = []

for i in range(len(lis) - 1):
    for j in range(i + 1, len(lis)):
        if lis[i] + lis[j] == num:
            pairs.append((lis[i], lis[j]))

if pairs:
    print("Pairs with sum {}: {}".format(num, pairs))
else:
    print("No pair found.")

Enter a number: 6
Pairs with sum 6: [(2, 4)]

In [17]:
#2. Write a Python program to find the median of a given unsorted list of integers.
lst = [2, 4, 5, 7, 8, 9, 12, 14]
sorted_lst = sorted(lst)
n = len(sorted_lst)
if n % 2 == 0:
    mid1 = sorted_lst[n // 2 - 1]
    mid2 = sorted_lst[n // 2]
    median = (mid1 + mid2) / 2
else:
    median = sorted_lst[n // 2]

print("Median is",median)

Median is 7.5

In [44]:
#3.Write a Python program to find the kth smallest element in a given unsorted array..
k=int(input("Enter position k " ))
lst = [2,6,10, 4, 5, 7, 8, 9, 12, 14]
sorted_lst = sorted(lst)
print(sorted_lst)
z=[]
for i in range(len(lis)):
    if k == i:
        z=sorted_lst[i]
print("{} th smallest element is {}".format(k,z))

Enter position k 7
[2, 4, 5, 6, 7, 8, 9, 10, 12, 14]
7 th smallest element is 10

In [54]:
#9Write a Python program to find the common elements between two given arrays of integers.
lst1=[2,3,1,4,5,8,]
lst2=[1,90,6,4,2,8]
comm=[]
for i in range(len(lst1)):
    for j in range(len(lst2)):
        if lst1[i] == lst2[j]:
            comm.append(lst1[i])
print("Common elements are: ",comm)

Common elements are:  [2, 1, 4, 8]

In [ ]:
#7. Write a Python program to find the largest product of any three elements in a given array of integers.
lst=[2,3,1,4,5,8,1,90,6,4,21,8]